<div class='container'>

  <h1 class='title'>Setup - Generate a Key</h1>

  <label>Email Address:</label>
  <div class="controls">
    {{input value=email type='email'}}
  </div>

  <label>Master Password:</label>
  <div class="controls">
    {{#if error}}
      <div class='error'>{{error}}</div>
    {{/if}}
    {{input value=keyPassword type='password'}}<br>
    {{input value=keyPasswordConfirm type='password'}}
  </div>
  <div class="controls">
    <button class="button" {{action 'generate'}}>Generate</button>
  </div>

  {{#if key}}
    <h4>Public Key</h4>
    {{textarea value=key.pubKey}}
    <h4>
      Private Key
    </h4>
    {{textarea value=key.key}}
  {{/if}}

</div>